.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

*,
::after,
::before {
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

body {
  font-family: "Roboto", sans-serif;
  color: #757575;
  background-color: #FFFFFF;
  margin: 0;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.section-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.container {
  margin: 0 auto;
  padding: 0 15px 0 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  line-height: 1.19;
  color: #212121;
  letter-spacing: 0.03em;
  cursor: pointer;
}
.logo span {
  color: #2196F3;
}

.logo--desktop {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.19;
  color: #212121;
  letter-spacing: 0.03em;
  cursor: pointer;
}
.logo--desktop span {
  color: #2196F3;
}

.header {
  padding: 10px 15px;
  border-bottom: 1px solid #ECECEC;
}
@media screen and (min-width: 768px) {
  .header {
    padding: 21px 15px;
  }
}
@media screen and (min-width: 1200px) {
  .header {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: #fff;
    width: 100%;
    z-index: 1;
  }
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 767px) {
  .header__container {
    justify-content: space-between;
  }
}
@media screen and (min-width: 1200px) {
  .header__container {
    padding: 0 15px;
    margin: 0 auto;
    width: 1200px;
  }
}

@media screen and (min-width: 768px) {
  .header__logo {
    margin-right: 93px;
  }
}

.js-menu-container {
  overflow: hidden;
}
.js-menu-container .icon-cross {
  transform: translateY(-20px);
}
.js-menu-container .icon-menu {
  transform: translateY(0);
}
.js-menu-container.is-open .icon-cross {
  transform: translateY(0);
}
.js-menu-container.is-open .icon-menu {
  transform: translateY(20px);
}
@media screen and (min-width: 768px) {
  .js-menu-container {
    display: none;
  }
}

.menu-toggle {
  position: relative;
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-toggle .icon-cross {
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-toggle .icon-menu {
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.drop__nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 48px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #FFFFFF;
  transform: translateY(-110%);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.js-menu-container.is-open .drop__nav {
  transform: translateY(0);
  background-color: #FFFFFF;
}

.drop__item {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  color: #212121;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.drop__item:not(:last-child) {
  padding-bottom: 32px;
}
.drop__item:hover, .drop__item:focus {
  color: #2196F3;
}

.drop__link {
  color: inherit;
}

.drop__link--current {
  color: #2196F3;
}

.drop__email {
  display: block;
  margin-bottom: 64px;
  color: #757575;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.167;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.drop__email:hover, .drop__email:focus {
  color: #2196F3;
}

.drop__tel {
  display: block;
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #2196F3;
}

.drop__icon {
  display: none;
}

.site-link__list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.site-link {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196F3;
}

.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__list {
  display: flex;
  gap: 50px;
}

.header__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  padding-bottom: 32px;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__link:hover, .header__link:focus {
  color: #2196F3;
  cursor: pointer;
}

.header__link--current {
  color: #2196F3;
}
.header__link--current::after {
  content: "";
  position: absolute;
  bottom: 5px;
  left: 0;
  height: 4px;
  width: 100%;
  border-radius: 2px;
  background-color: #2196F3;
}
@media screen and (max-width: 1199px) {
  .header__link--current::after {
    bottom: 1px;
  }
}

.header__contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-left: 115px;
}
@media screen and (min-width: 1200px) {
  .header__contacts {
    flex-direction: row;
    margin-left: 340px;
  }
}

.header__email,
.header__tel {
  font: inherit;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #757575;
  font-size: 12px;
  line-height: 1.166;
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .header__email,
.header__tel {
    font-size: 14px;
    line-height: 1.14;
  }
}
.header__email:hover, .header__email:focus,
.header__tel:hover,
.header__tel:focus {
  color: #2196F3;
  cursor: pointer;
}

.header__icon {
  fill: currentColor;
  margin-right: 10px;
}
.header__email > .header__icon {
  width: 16px;
  height: 12px;
}
.header__tel > .header__icon {
  width: 10px;
  height: 16px;
}

@media screen and (max-width: 767px) {
  .line__nav {
    display: none;
  }
}

.hero {
  height: 400px;
  background-color: #2F303A;
  background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/Hero-480.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media screen and (min-width: 1200px) {
  .hero {
    margin-top: 72px;
  }
}
@media screen and (max-width: 767px) {
  .hero {
    background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/Hero-480.jpg);
  }
}
@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .hero {
    background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/Hero-480@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/Hero-768.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/Hero-768@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    height: 600px;
    padding: 200px 60px;
    background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/Hero-1600.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/Hero-1600@2x.jpg);
  }
}

.hero__container {
  height: 100%;
  display: flex;
  margin: auto;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.hero__title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.hero__btn {
  padding: 10px 20px;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  background-color: #2196F3;
  color: #FFFFFF;
  align-self: center;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.hero__title {
  text-align: center;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
  font-weight: 900;
  color: #FFFFFF;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__btn {
  background-color: #2F303A;
  font-size: 16px;
  line-height: 1.88;
  background-color: #2196F3;
  color: #FFFFFF;
  border: none;
  padding: 10px 20px;
  align-self: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.advantages {
  padding: 60px 0;
}
@media screen and (min-width: 1200px) {
  .advantages {
    padding: 94px 0;
  }
}

.icon-card__icon {
  background: #F5F4FA;
  border-radius: 4px;
  padding: 25px 0;
  margin-bottom: 30px;
  width: 100%;
  height: 120px;
}

.icon-card__title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 10px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .icon-card__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
.icon-card__item {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

@media screen and (min-width: 768px) {
  .advantages__list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }
  .icon-card__title {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: #212121;
    padding-bottom: 9.41px;
    text-align: left;
  }
  .icon-card__item {
    display: flex;
    flex-direction: column;
    width: calc(50% - 30px);
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .icon-card__item:nth-child(-n+2) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) and (min-width: 1200px) {
  .icon-card__item {
    width: 270px;
  }
}
@media screen and (min-width: 768px) {
  .icon-card__icon {
    background: #F5F4FA;
    border-radius: 4px;
    padding: 25px 0;
    margin-bottom: 30px;
    height: 120px;
  }
}
.team {
  background-color: #F5F4FA;
  padding: 60px 0;
}
@media screen and (min-width: 1200px) {
  .team {
    padding: 94px 0;
  }
}

.team__title {
  color: #212121;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.178;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .team__title {
    font-size: 36px;
    line-height: 1.16;
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 768px) {
  .team__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.soc-link {
  border-radius: 50%;
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.soc-link:hover, .soc-link :focus {
  background-color: #2196F3;
}

.soc-link__icon {
  width: 20px;
  height: 20px;
  fill: #AFB1B8;
}
.soc-link:hover .soc-link__icon, .soc-link:focus .soc-link__icon {
  fill: #FFFFFF;
}

.personal-card {
  background-color: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .personal-card {
    width: calc(50% - 15px);
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .personal-card:nth-child(n+3) {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .personal-card {
    width: calc(25% - 30px);
    width: 270px;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 767px) {
  .personal-card:last-child {
    margin-bottom: 0px;
  }
}

.personal-card__photo {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.personal-card__link {
  text-align: center;
}

.personal-card__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #212121;
  padding-top: 30px;
}

.personal-card__job {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #757575;
  padding-top: 10px;
}

.personal-card__media {
  margin: 16px 32px 0 32px;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  padding-bottom: 30px;
}

.customers {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .customers {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.customers__title {
  color: #212121;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.178;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .customers__title {
    font-size: 36px;
    line-height: 1.16;
    margin-bottom: 50px;
  }
}

.customers__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.customers__item {
  width: 210px;
  min-width: 110px;
  min-height: 92px;
  box-sizing: border-box;
}
@media screen and (min-width: 768px) {
  .customers__item {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .customers__item {
    width: 170px;
  }
}

.customers__link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 92px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  color: #AFB1B8;
  fill: currentColor;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers__link:hover, .customers__link:focus {
  border-color: #2196F3;
  color: #2196F3;
  cursor: pointer;
}

.customers__logo {
  max-width: 106px;
  max-height: 60px;
}

.footer {
  background-color: #2F303A;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__container {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .footer__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
@media screen and (min-width: 1200px) {
  .footer__container {
    text-align: left;
    justify-content: space-between;
  }
}

.footer__logo {
  color: #FFFFFF;
}

@media screen and (min-width: 768px) {
  .footer__contacts {
    display: flex;
    flex-direction: column;
  }
}

.footer__address {
  margin-top: 20px;
  margin-bottom: 60px;
  font-style: normal;
  color: #FFFFFF;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 768px) {
  .footer__address {
    display: flex;
    flex-direction: column;
  }
}

.footer__email {
  color: #FFFFFF;
  opacity: 60%;
}

.footer__tel {
  color: #FFFFFF;
  opacity: 60%;
}

.footer__title {
  font-size: 14px;
  font-weight: normal;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  margin-bottom: 20px;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .footer__title {
    margin-top: 5px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__title {
    margin-top: 12px;
  }
}

.footer__list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.footer__soc-link {
  fill: #FFFFFF;
  color: #FFFFFF;
  background: rgba(255, 255, 255, 0.1);
}

.footer__icon {
  fill: #FFFFFF;
}

@media screen and (max-width: 767px) {
  .footer__sub {
    margin-top: 60px;
  }
}
@media screen and (min-width: 768px) {
  .footer__sub {
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .footer__sub {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}

.subscription__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 1200px) {
  .subscription__form {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    flex-direction: row;
  }
}

.subscription__email {
  width: 100%;
  max-width: 450px;
  height: 50px;
  padding-left: 16px;
  margin-bottom: 20px;
  font-weight: normal;
  color: #FFFFFF;
  background: #2F303A;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .subscription__email {
    width: 358px;
  }
}
@media screen and (min-width: 1200px) {
  .subscription__email {
    margin: 0;
    margin-right: 10px;
  }
}

.subscription__email:focus {
  border-color: #2196F3;
}

.submit-btn {
  min-width: 200px;
  min-height: 50px;
  margin: auto;
  background: #2196F3;
  color: #FFFFFF;
  fill: #FFFFFF;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
}

.submit-btn__icon {
  margin-left: 30px;
}

.demo {
  padding-bottom: 94px;
}
@media screen and (max-width: 1200px) {
  .demo {
    display: none;
  }
}

.demo__container {
  display: flex;
  flex-direction: column;
}

.demo__title {
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #212121;
  align-self: center;
  margin-bottom: 50px;
}

.demo__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.demo__wrapper {
  position: relative;
}

.demo__img {
  display: block;
}

.demo__text {
  position: absolute;
  bottom: 0;
  height: 70px;
  width: 100%;
  padding-top: 27px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  background: rgba(47, 48, 58, 0.8);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #FFFFFF;
  width: 90%;
  max-width: 450px;
  min-height: 70%;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(50%);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(50%);
}

.modal__btn {
  position: absolute;
  top: 8px;
  right: 8px;
  height: 30px;
  width: 30px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__btn:hover, .modal__btn:focus {
  fill: #2196F3;
}

.modal__main {
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.modal__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}

.modal__wrapper {
  position: relative;
}
.modal__wrapper input, .modal__wrapper textarea {
  margin-bottom: 5px;
}

.modal__label-text,
.modal__label {
  font-size: 12px;
  margin-bottom: 5px;
  display: block;
}

.modal__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-size: 14px;
  padding-left: 42px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__input:focus {
  border: 1px solid #2196F3;
}

.modal__input-wrapper {
  position: relative;
}

.modal__icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__input:focus + .modal__icon {
  fill: #2196F3;
}

.modal__comment {
  width: 100%;
  height: 120px;
  resize: none;
  padding: 10px;
  margin-bottom: 20px;
}
.modal__comment::-moz-placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal__comment:-ms-input-placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal__comment::placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__terms {
  margin: 10px;
}

.modal__submit-btn {
  display: block;
  padding: 0;
  margin: 0 auto;
}

.checkbox__label {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  cursor: pointer;
  display: flex;
  align-items: flex-start;
}

.checkbox__wrap {
  width: 16px;
  height: 15px;
  border: 2px solid #111319;
  border-radius: 2px;
  margin-top: 3px;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: black;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox__input:checked + .checkbox__label .checkbox__wrap {
  background-color: #2196F3;
  border-color: transparent;
}
.checkbox__input:focus + .checkbox__label .checkbox__wrap {
  border-color: #2196F3;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  z-index: 1;
  transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}/*# sourceMappingURL=main.css.map */