:root {
    --main-black-color: #212121;
    --main-white-color: #FFFFFF;
    --text-color: #757575;
    --accent-color: #2196F3;
    --background-primary: #E5E5E5;
    --background-secondary: #F5F4FA;
    --background-black: #2F303A;
    --text-lh: 1.71;
    --main-font: 'Roboto', sans-serif;
}

*,
::after,
::before {
    box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding-left: 0;
    list-style: none;
}

body {
    font-family: var(--main-font);
    color: var(--text-color);
    background-color: #FFFFFF;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.btn {
    font-family: inherit;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.625;
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;
}

.btn:hover,
.btn:focus {
    background-color: var(--accent-color);
    color: var(--main-white-color);
} 

.section-title {
    font-size: 18px;
    line-height: 2.0;
    letter-spacing: 0.06em;
}

/* .portfolio-title {
    font-size: 18px;
    line-height: 2.0;
    letter-spacing: 0.06em;
} */

.logo {
    font-family: "Raleway", sans-serif;
    font-size: 26px;
    line-height: 1.19;
    color: var(--accent-color);
    letter-spacing: 0.03em;
    cursor: pointer;
}

.container {
    margin: 0 215px;
}
    
            /* HEADER */


.header {
    background-color: #FFFFFF;
}

.header-container {
    display: flex;
    align-items: center;
    margin-top: 24px;
    margin-bottom: 25px;
}

.header-nav {
    display: flex;
    align-items: center;
}

.header-logo {
    margin-right: 97px;
}

.header-list {
    display: flex;
    gap: 30px; 
}

.header-contacts {
    margin-left: auto;
}

.header-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--main-black-color);
}

.header-current {
    color: var(--accent-color);
}

.header-email, .header-tel{
    font: inherit;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--text-color);
}

.header-tel {
    margin-left: 50px;
}

.header-link:hover, .header-email:hover, .header-tel:hover {
     color: var(--accent-color);
     cursor: pointer;
 }


        /* HERO */
.hero {
    background-color: var(--background-black);
}

.hero-proper{
    
    display: flex;
    flex-direction: column;
    padding: 200px 200px 0 200px;
    margin: auto;
    justify-content: center;
    /* align-content: center; */
}

.hero-container {
    display: flex;
    padding: 0 200px;
    margin: auto;
    flex-direction: column;
    align-content: center;
}

.hero-title {
    background-color: var(--background-black);
    /* justify-self: center; */
    padding: 0 200px;
    /* width: 700px; */
    /* min-height: 120px; */

}

.hero-btn {
    background-color: var(--background-black);
    font-size: 16px;
    line-height: 1.88;
    background-color: var(--accent-color);
    color: var(--main-white-color);
    border: none;
    padding: 10px 20px;
    align-self: center;
    margin-bottom: 200px;
}

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    color: var(--main-white-color);
}

        /* ADVANTAGES */
.hero-adv{
    background-color: var(--main-white-color);
    padding: 94px 200px 0 200px;
    /* display: flex;
    justify-content: space-between; */
}
.advantages-title {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: var(--main-black-color);
    padding-bottom: 9.41px;
}

.advantages-list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
}
.advantages-item {
    font-size: 14px;
    line-height: var(--text-lh);
    letter-spacing: 0.03em;
    color: var(--text-color);
}

        /* DEMO */
.demo-container {
    padding: 100px 200px 0 200px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}
.demo-title {
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: var(--main-black-color);
    align-self: center;
}

.demo-list {
    display: flex;
    flex-wrap: wrap;

    gap: 30px;
    padding: 0;
    padding-top: 50px;
    padding-bottom: 94px;
    /* margin: 0; */

}

/* .demo-img {} */


        /* TEAM */
.team {
    background-color: var(--background-secondary);
}

.team-container {
    padding: 0 200px;
    display: flex;
    flex-direction: column;
    padding-bottom: 94px;
}

.team-title {
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: var(--main-black-color);
    padding-top: 94px;
    align-self: center;
}

.team-list {
    display: flex;
    padding-top: 50px;
    /* justify-content: space-between; */
    gap: 30px;
}

.team-item {
    background-color: var(--main-white-color);
    padding-bottom: 30px;

}
.team-link {
    text-align: center;
}

.team-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--main-black-color);
    padding-top: 30px;
}

.team-job {
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--text-color);
    padding-top: 10px;
}


/* 
------------------------
PORTFOLIO
------------------------ 
*/

.products-container {
    /* background-color: var(--background-primary); */
    padding: 94px 215px;
}

        /* FILTERS */

.filters-list {
    display: flex;
    gap: 8px;
    justify-content: center;
}

.filters-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    color: var(--main-black-color);
    background-color: var(--background-secondary);
    border: none;
    /* padding: 6px 24px; */
    /* Тут питання. На кожній з кнопок у даному випадку разні відступи з боків. 
    Тут є якийсь принцив побудови і треба довчити механізм чи це забаганка дизайнера
    і треба просто прописати, як в макеті?  
    
    Або ж це не маржини, а довільна ширина кнопок, а текст по центру стоїть*/
}

.filters-list > :nth-child(1) > :first-child {
    padding: 6px 26px;
}

.filters-list> :nth-child(2)> :first-child {
    padding: 6px 26px;
}

.filters-list> :nth-child(3)> :first-child {
    padding: 6px 53px;
}

.filters-list> :nth-child(4)> :first-child {
    padding: 6px 25px;
}

.filters-list> :nth-child(5)> :first-child {
    padding: 6px 26px;
}

/* Так само замість маржинів можна задати ширину і центрувати текст. */

.filters-btn:hover {
    background-color: var(--accent-color);
    color: var(--main-white-color);
    cursor: pointer;
}


        /* EXAMPLES */

.examples-list {
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    
}

.examples-name {
    font-weight: 700;
    font-size: 18px;
    line-height: 2.0;
    letter-spacing: 0.06em;
    color: var(--main-black-color);
    padding-top: 20px;
    padding-left: 24px;
}

.examples-type {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--text-color);
    padding-top: 4px;
    padding-left: 24px;
}

        /* FOOTER */

.footer {
    background-color: var(--background-black);
}

.footer-container {
    padding: 0 215px 60px 215px;
    display: flex;
    flex-direction: column;
}

.footer-logo {
    padding-top: 60px;
    padding-bottom: 9px;
}

.footer-address {
    display: flex;
    flex-direction: column;
    font-style: normal;
    color: var(--main-white-color);
}

.footer-address > address {
    font-family: 'Roboto';
        font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.footer-email {
    color: var(--main-white-color);
    opacity: 60%;
}

.footer-tel {
    color: var(--main-white-color);
    opacity: 60%;
}