@import '../utils/vars';
.btn {
    font-family: inherit;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.625;
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;
    &:hover,
    :focus {
        background-color: $accent-color;
        color: $main-white-color;
    }
}

