@import '../../utils/vars';
.team {
    background-color: $background-secondary;
    padding-top: 94px;
    padding-bottom: 94px;
}

.team__container {
    display: flex;
    flex-direction: column;
}

.team__title {
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: $main-black-color;
    text-align: center;
}

.team__list {
    display: flex;
    margin-top: 50px;
    gap: 30px;
}